.produto-card {
  overflow: hidden;
  border-radius: 6px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  color: var(--text-dark);
  position: relative;
  border: 1px solid #eee;
  -webkit-box-shadow: 0px 3px 5px 3px #f7f7f7;
          box-shadow: 0px 3px 5px 3px #f7f7f7;
  background-color: #fff;
  margin: 10px 0px;
  max-width: 260px;
}
.produto-card:hover {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  -webkit-box-shadow: 0px 2px 2px 1px rgba(233, 233, 233, 0.5294117647);
          box-shadow: 0px 2px 2px 1px rgba(233, 233, 233, 0.5294117647);
}
.produto-card__header {
  overflow: hidden;
}
.produto-card__image {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 150px;
}
.produto-card__body {
  padding: 10px;
}
.produto-card__title {
  text-overflow: ellipsis;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  display: inline-block;
  white-space: nowrap;
  line-height: inherit;
  text-transform: capitalize;
  margin: 0;
}
.produto-card__title a {
  text-decoration: none;
  font-size: 16px;
  color: inherit;
  font-weight: 800;
}
.produto-card__title a:hover {
  color: var(--primary);
}
.produto-card__by {
  font-size: 11px;
  color: var(--gray-50);
  margin: 0px 0px 5px 0px;
}
.produto-card__by strong a {
  text-transform: capitalize;
  color: inherit;
  text-decoration: none;
}
.produto-card__price {
  font-weight: 700;
  font-size: 14px;
  margin: 10px 0px;
}
.produto-card__footer {
  padding: 10px;
}
.produto-card__cart {
  font-size: 13px;
  color: var(--secondary);
  border: 1px solid var(--secondary);
  padding: 10px 20px;
  display: block;
  border-radius: 4px;
  text-decoration: none;
  text-align: center;
}
.produto-card__cart:hover {
  background-color: var(--secondary);
  text-decoration: none;
  color: var(--text);
}
.produto-card.produto-card__row {
  overflow: unset;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 100% !important;
}
.produto-card.produto-card__row .produto-card__image {
  width: 200px !important;
}
.produto-card.produto-card__row .produto-card__image {
  width: 300px !important;
}
.produto-card.produto-card__row .produto-card__body {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  gap: 60px;
}
.produto-card.produto-card__row .produto-card__body i {
  font-size: 25px;
  color: var(--primary);
}
.produto-card.produto-card__row .produto-card__body i:hover ~ span.info {
  display: block;
}
.produto-card.produto-card__row .produto-card__body span.info {
  display: none;
  position: absolute;
  top: -50px;
  background-color: var(--primary);
  border-radius: 6px;
  padding: 10px;
  color: var(--text);
  left: 50%;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  z-index: 99;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.produto-card.produto-card__row .produto-card__status {
  position: absolute;
  top: -10px;
  left: -10px;
  background-color: #fff;
  border-radius: 50%;
}
.produto-card.produto-card__row:hover {
  -webkit-transform: unset;
          transform: unset;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-box-shadow: 0px 3px 5px 2px rgb(222, 222, 222);
          box-shadow: 0px 3px 5px 2px rgb(222, 222, 222);
}
.produto-card.produto-card__row:hover:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 100%;
  background-color: var(--secondary);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.produto-card.produto-card__row .produto-card__title {
  width: 150px;
}
.produto-card #btn-produto-card {
  border: none;
  background-color: transparent;
  border-radius: 50%;
  padding: 10px 20px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.produto-card #btn-produto-card:focus, .produto-card #btn-produto-card:active {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #eee;
}
.produto-card__dropdown {
  display: none;
  position: absolute;
  top: -20px;
  right: -20px;
  background-color: #fff;
  -webkit-box-shadow: 0px 3px 5px 3px rgba(219, 219, 219, 0.433);
          box-shadow: 0px 3px 5px 3px rgba(219, 219, 219, 0.433);
}
.produto-card__dropdown.drop {
  display: block;
}
.produto-card__dropdown ul {
  padding: 0;
  margin: 0;
}
.produto-card__dropdown ul li {
  list-style: none;
}
.produto-card__dropdown ul li a {
  text-decoration: none;
  color: var(--text-dark);
  display: block;
  padding: 5px 10px;
}
.produto-card__dropdown ul li a:hover {
  background-color: #eee;
}
.produto-card.produto-card__preview .produto-card__image {
  height: 150px !important;
  background-color: var(--gray) !important;
}

.header-nav {
  z-index: 999;
  border-bottom: 1px solid #ddd;
  -webkit-box-shadow: 0px 2px 5px 1px rgba(102, 102, 102, 0.168627451);
          box-shadow: 0px 2px 5px 1px rgba(102, 102, 102, 0.168627451);
  background-color: var(--white);
}

.navbar {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}
.navbar__logo {
  font-size: 30px;
  color: var(--text);
  text-decoration: none;
  width: 20%;
}
.navbar__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.navbar__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
}
.navbar__link {
  text-decoration: none;
  color: var(--text-dark);
  font-size: 20px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.navbar__link:hover {
  color: var(--primary);
}
.navbar__controller {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 15px;
}
.navbar__controller i.fas.fa-shopping-cart::after {
  position: relative;
  content: attr(data-count-cart);
  color: var(--text-black);
  padding: 2px 8px;
  top: -10px;
  border-radius: 50px;
  line-height: 0px;
  left: -5px;
  font-family: "Jost";
  font-size: 10px;
}
.navbar__controller p.count-pedidos {
  position: absolute;
  top: -10px;
  right: 5px;
  background: #fcb3c5;
  color: #fff;
  border-radius: 120px;
  font-size: 10px;
  height: 20px;
  width: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.navbar__cart {
  text-decoration: none;
  color: var(--primary);
  position: relative;
}
.navbar__cart:hover {
  color: var(--primary-50);
}
.navbar__cart i {
  font-size: 17px;
}
.navbar__dropdown-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 5px;
  text-transform: capitalize;
  background-color: unset;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  color: var(--secondary);
  width: 45px;
  height: 45px;
  border: none;
  text-align: center;
  line-height: 0px;
}
.navbar__dropdown-button img {
  width: 25px;
}
.navbar__dropdown-button i {
  color: var(--primary) !important;
}
.navbar :has(.navbar__dropdown.active) .navbar__dropdown-button {
  color: var(--text);
  background-color: rgba(138, 137, 137, 0.168627451);
  border-radius: 50%;
}
.navbar__dropdown {
  display: none;
  position: absolute;
  background-color: var(--white);
  border-radius: 6px;
  padding: 0px;
  list-style-type: none;
  top: 57px;
  right: 0;
  width: 250px;
  overflow: hidden;
  -webkit-box-shadow: 0px 1px 2px 1px rgba(149, 149, 149, 0.3411764706);
          box-shadow: 0px 1px 2px 1px rgba(149, 149, 149, 0.3411764706);
  z-index: 9999;
}
.navbar__dropdown.active {
  display: block;
}
.navbar__dropdown a {
  text-decoration: none;
  color: var(--text-black);
  display: block;
  padding: 10px 15px;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
.navbar__dropdown a:hover {
  background-color: var(--secondary);
  color: var(--text);
}
.navbar__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
}

.categorias-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 5px 0px;
}
.categorias-row a {
  display: block;
  padding: 10px;
  color: var(--text-black);
  text-decoration: none;
  border-radius: 4px;
}
.categorias-row a:hover {
  background-color: var(--primary);
  color: var(--text);
}

.c-btn {
  border: none;
  background-color: unset;
}

.c-btn__primary {
  background-color: var(--primary);
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 5px 15px;
  border-radius: 6px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  color: var(--text);
  font-size: 14px;
}
.c-btn__primary:hover {
  background-color: var(--primary-hover);
}
.c-btn__primary.c-btn__primary--outline {
  background-color: unset;
  border: 1px solid var(--primary);
  color: var(--primary);
  padding: 5px 15px;
}
.c-btn__primary.c-btn__primary--outline:hover {
  background-color: var(--primary);
  color: var(--text);
  font-size: 14px;
}

.c-btn__secondary {
  background-color: var(--secondary);
  color: var(--text);
  font-size: 14px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 5px 15px;
  border-radius: 6px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
}
.c-btn__secondary:hover {
  outline: 3px solid var(--secondary-50);
}
.c-btn__secondary.c-btn__secondary--outline {
  background-color: unset;
  border: 1px solid var(--secondary);
  color: var(--secondary);
  padding: 5px 15px;
  text-align: center;
}
.c-btn__secondary.c-btn__secondary--outline:hover {
  background-color: var(--secondary);
  color: var(--text);
  font-size: 14px;
}

.c-btn__neutral {
  background-color: var(--black);
  color: var(--text);
  font-size: 14px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 5px 15px;
  border-radius: 6px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.c-btn__neutral:hover {
  outline: 3px solid var(--black-20);
}

.search-not-found__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.search-not-found__content p {
  font-size: 20px;
}
.search-not-found__image {
  width: 300px;
}

.busca {
  padding: 20px 0px;
}
.busca #filtro-preco ul {
  list-style: none;
  padding: 0px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.busca #filtro-preco ul li {
  margin: 7px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  gap: 10px;
}
.busca #filtro-preco ul li label {
  cursor: pointer;
}
.busca #filtro-preco ul li label:hover {
  color: var(--secondary);
}
.busca #filtro-preco ul li input:checked ~ label {
  font-weight: 700;
  color: var(--secondary);
}