:root {
  --primary: #e7295d;
  --primary-hover: #d71549;
  --secondary: #0080ff;
  --secondary-hover: #046ad0;
  --text: #f8f8f8;
  --text-dark: #2D2E30;
  --gray: #d8d7d7;
  --black: #333333;
  --background-page: #242424;
  --alternate-black: #141c2c;
  --white: #fff;
  --white-50: #f8f9fa;
  --primary-50: rgba(245, 10, 69, 0.1607843137);
  --secondary-50: rgba(0, 128, 255, 0.2666666667);
  --black-20: rgba(64, 64, 64, 0.4862745098);
  --gray-50: rgb(126, 120, 120);
  --primary-linear-gradient: linear-gradient(90deg, rgb(245, 10, 69) 0%, rgb(0, 128, 255) 100%);
}

.c-input {
  margin: 0px 0px 15px 0px;
  display: block;
}
.c-input__entry {
  padding: 5px 15px;
  border: 1px solid var(--text-dark);
  border-radius: 6px;
  display: block;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 0px 10px;
  outline: 3px solid transparent;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  color: var(--text-black);
}
.c-input__entry:focus-within {
  outline: 3px solid var(--primary-50);
  border: 1px solid var(--primary);
}
.c-input input {
  border: none;
  background-color: transparent;
  outline: none;
  color: var(--text-black);
  width: 100%;
}
.c-input__icon {
  color: var(--text-black);
  font-weight: 400;
}
.c-input__label {
  margin-bottom: 7px;
  font-size: 15px;
}

#produto-descricao-error {
  margin: 10px 0px 0px 0px;
}

.Toast {
  position: fixed;
  top: 80px;
  right: 20px;
  border-radius: 6px;
  padding: 20px 30px;
  background-color: #fff;
  -webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  border-left: 5px solid var(--secondary);
  overflow: hidden;
  -webkit-transform: translateX(calc(100% + 30px));
          transform: translateX(calc(100% + 30px));
  -webkit-transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  z-index: 99999;
}
.Toast.active {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}
.Toast-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.Toast-message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 20px;
}
.Toast p {
  margin: 0px;
}
.Toast #btn-close-toast {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px;
  cursor: pointer;
  opacity: 0.7;
}
.Toast-progress {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4px;
  width: 100%;
  background-color: #fff;
}
.Toast-progress::before {
  display: none;
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background: var(--secondary);
}
.Toast .Toast-progress.active::before {
  -webkit-animation: progress 2s linear forwards;
          animation: progress 2s linear forwards;
}

@-webkit-keyframes progress {
  100% {
    right: 100%;
  }
}

@keyframes progress {
  100% {
    right: 100%;
  }
}
.c-btn {
  border: none;
  background-color: unset;
}

.c-btn__primary {
  background-color: var(--primary);
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 5px 15px;
  border-radius: 6px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  color: var(--text);
  font-size: 14px;
}
.c-btn__primary:hover {
  background-color: var(--primary-hover);
}
.c-btn__primary.c-btn__primary--outline {
  background-color: unset;
  border: 1px solid var(--primary);
  color: var(--primary);
  padding: 5px 15px;
}
.c-btn__primary.c-btn__primary--outline:hover {
  background-color: var(--primary);
  color: var(--text);
  font-size: 14px;
}

.c-btn__secondary {
  background-color: var(--secondary);
  color: var(--text);
  font-size: 14px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 5px 15px;
  border-radius: 6px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
}
.c-btn__secondary:hover {
  outline: 3px solid var(--secondary-50);
}
.c-btn__secondary.c-btn__secondary--outline {
  background-color: unset;
  border: 1px solid var(--secondary);
  color: var(--secondary);
  padding: 5px 15px;
  text-align: center;
}
.c-btn__secondary.c-btn__secondary--outline:hover {
  background-color: var(--secondary);
  color: var(--text);
  font-size: 14px;
}

.c-btn__neutral {
  background-color: var(--black);
  color: var(--text);
  font-size: 14px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 5px 15px;
  border-radius: 6px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.c-btn__neutral:hover {
  outline: 3px solid var(--black-20);
}

.cadastro-usuario {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  background-color: #ededed;
}
.cadastro-usuario__content {
  width: 80%;
  -webkit-box-shadow: 1px 1px 4px 1px rgba(85, 85, 85, 0.137254902);
          box-shadow: 1px 1px 4px 1px rgba(85, 85, 85, 0.137254902);
  border-radius: 10px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}
.cadastro-usuario .cadastro-content {
  height: 100%;
  background-color: var(--primary);
  height: 100%;
  padding: 20px 20px;
  color: var(--text);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 70px;
  text-align: center;
}
.cadastro-usuario .cadastro-content h4 {
  color: var(--text);
}
.cadastro-usuario .form-content {
  height: 100%;
  padding: 20px 20px;
  background-color: #fff;
}
.cadastro-usuario .form-content img {
  width: 50px;
}

.c-input:has(.error i) .c-input__entry {
  border: 1px solid #af1717;
  outline: 3px solid rgba(255, 103, 103, 0.3882352941);
  position: relative;
  margin: 0;
}
.c-input:has(.error i) .c-input__entry .error i {
  color: #ff4a4a;
}
.c-input:has(.error i) .c-input__entry i:hover ~ .input-error {
  display: block;
  font-size: 13px;
}
.c-input:has(.error i) .c-input__entry .input-error {
  position: absolute;
  display: none;
  top: -100%;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  background-color: #eb2f2f;
  color: var(--text);
  padding: 5px 10px;
  border-radius: 6px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

a {
  text-decoration: none;
}

.lista-identificador {
  list-style-type: none;
  padding: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
  margin: 0;
}
.lista-identificador li label {
  display: block;
  border: 1px solid var(--primary);
  color: var(--primary);
  padding: 10px;
  border-radius: 6px;
}
.lista-identificador li input {
  display: none;
}
.lista-identificador li input:checked ~ label {
  color: var(--text);
  background-color: var(--primary);
}