:root {
  --primary: #f50a45;
  --secondary: #0080ff;
  --text: #eee;
  --text-dark: #333;
  --gray: #d8d7d7;
  --black: #333333;
  --white: #fff;
  --background-page: #242424;
  --alternate-black: #141c2c;
  --white-50: #f5f5f5;
  --primary-50: rgba(245, 10, 69, 0.3294117647);
  --secondary-50: rgba(0, 128, 255, 0.3098039216);
  --black-20: rgba(64, 64, 64, 0.4862745098);
  --gray-50: rgb(126, 120, 120);
  --primary-linear-gradient: linear-gradient(90deg, rgb(245, 10, 69) 0%, rgb(0, 128, 255) 100%);
}

#login-user-error-alert {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: #ff4a4a;
  border: none;
}

.c-btn {
  border: none;
}

.c-btn__primary {
  background-image: var(--primary-linear-gradient);
  width: 100%;
  padding: 5px 0px;
  border-radius: 6px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  color: var(--text);
}
.c-btn__primary:hover {
  -webkit-box-shadow: 0px 1px 8px 0px rgba(186, 184, 184, 0.3215686275);
          box-shadow: 0px 1px 8px 0px rgba(186, 184, 184, 0.3215686275);
}

.c-btn__secondary {
  background-color: var(--secondary);
  color: var(--text);
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 10px 20px;
  border-radius: 6px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.c-btn__secondary:hover {
  outline: 3px solid var(--secondary-50);
}
.c-btn__secondary.c-btn__secondary--outline {
  background-color: unset;
  border: 1px solid var(--secondary);
  color: var(--secondary);
}
.c-btn__secondary.c-btn__secondary--outline:hover {
  background-color: var(--secondary);
  color: var(--text);
}

.c-btn__neutral {
  background-color: var(--black);
  color: var(--text);
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 10px 20px;
  border-radius: 6px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.c-btn__neutral:hover {
  outline: 3px solid var(--black-20);
}

.c-input {
  margin: 0px 0px 15px 0px;
  display: block;
}
.c-input__entry {
  padding: 5px 15px;
  border: 1px solid var(--secondary);
  border-radius: 6px;
  display: block;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 0px 10px;
  outline: 3px solid transparent;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  color: var(--text-black);
}
.c-input__entry:focus-within {
  outline: 3px solid var(--secondary-50);
}
.c-input textarea,
.c-input input {
  border: none;
  background-color: transparent;
  outline: none;
  color: var(--text-black);
  width: 100%;
}
.c-input__icon {
  color: var(--text-black);
  font-weight: 400;
}
.c-input__label {
  margin-bottom: 7px;
}

.header-nav {
  background-color: #222;
}

.navbar {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}
.navbar__logo {
  font-size: 30px;
  color: var(--text);
  text-decoration: none;
}
.navbar__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
}
.navbar__link {
  text-decoration: none;
  color: var(--text);
  font-size: 20px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.navbar__link:hover {
  color: var(--primary);
}
.navbar__dropdown-button {
  border: none;
  color: var(--text);
  padding: 5px 15px;
  border-radius: 30px;
  text-transform: capitalize;
  background-color: transparent;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.navbar :has(.navbar__dropdown.active) .navbar__dropdown-button {
  color: var(--text);
  background-color: var(--secondary);
}
.navbar__dropdown {
  display: none;
  position: absolute;
  background-color: var(--white);
  border-radius: 8px;
  padding: 0px;
  list-style-type: none;
  top: 60px;
  right: 0;
  width: 250px;
  overflow: hidden;
  -webkit-box-shadow: 0px 1px 2px 1px rgba(149, 149, 149, 0.3411764706);
          box-shadow: 0px 1px 2px 1px rgba(149, 149, 149, 0.3411764706);
  z-index: 9999;
}
.navbar__dropdown.active {
  display: block;
}
.navbar__dropdown a {
  text-decoration: none;
  color: var(--text-black);
  display: block;
  padding: 10px 15px;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
.navbar__dropdown a:hover {
  background-color: var(--secondary);
  color: var(--text);
}