:root {
  --primary: #f50a45;
  --secondary: #0080ff;
  --text: #cfcfcf;
  --gray: #959595;
  --black: #333333;
  --background-page: #242424;
  --primary-50: rgba(245, 10, 69, 0.3294117647);
  --secondary-50: rgba(0, 128, 255, 0.3098039216);
  --black-20: #404040;
  --gray-50: rgb(126, 120, 120);
}

.box-servico {
  background-color: var(--black);
  border-radius: 8px;
  padding: 30px 10px;
  text-align: center;
  display: block;
  text-decoration: none;
}
.box-servico i {
  font-size: 40px;
  margin-bottom: 10px;
  color: var(--text);
}
.box-servico__title {
  color: var(--text);
}
.box-servico:hover .box-servico__title,
.box-servico:hover i {
  color: var(--primary);
}

body {
  background-color: var(--background-page);
}