@font-face {
  font-family: Poppins;
  src: url(../public/fonts/Poppins-Light.ttf);
}
* {
  font-family: Poppins;
}

:root {
  --primary: #e7295d;
  --primary-hover: #d71549;
  --secondary: #0080ff;
  --secondary-hover: #046ad0;
  --text: #f8f8f8;
  --text-dark: #2D2E30;
  --gray: #d8d7d7;
  --black: #333333;
  --white: #fff;
  --background-page: #242424;
  --alternate-black: #141c2c;
  --white-50: #f5f5f5;
  --primary-50: rgba(245, 10, 69, 0.1607843137);
  --secondary-50: rgba(0, 128, 255, 0.2666666667);
  --black-20: rgba(64, 64, 64, 0.4862745098);
  --gray-50: rgb(126, 120, 120);
  --primary-linear-gradient: linear-gradient(90deg, rgb(245, 10, 69) 0%, rgb(0, 128, 255) 100%);
}

body {
  position: relative;
  font-family: Poppins;
  overflow: hidden;
}

a,
p,
h1,
h2,
h3,
h4,
h5,
h6,
span,
label {
  color: var(--text-dark);
}

p,
a,
span,
label {
  font-size: 14px;
}

.header-page {
  padding: 10px 0px;
}

#frm-pesquisa {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}
#frm-pesquisa span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  border: 1px solid var(--secondary);
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  overflow: hidden;
  border-radius: 4px;
}
#frm-pesquisa input {
  border: none;
  background-color: transparent;
  padding: 0px 10px;
  height: 40px;
  font-size: 13px;
}
#frm-pesquisa input:focus {
  background-color: #f5f5f5;
  outline: none;
  border-radius: none;
}
#frm-pesquisa button {
  height: 40px;
  display: block;
  border: none;
  background-color: var(--secondary);
  color: var(--text);
  padding: 0px 20px;
}