.sistema {
  background-image: url("http://localhost/tcc/public/images/background-page.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  -webkit-backdrop-filter: brightness(0.5);
          backdrop-filter: brightness(0.5);
}
.sistema * {
  color: #fff;
}
.sistema * a {
  text-decoration: none;
  font-weight: 100;
}
.sistema * a:hover {
  color: var(--gray);
}
.sistema * p {
  margin: 8px 0px;
}