.breadcrumb {
	&__labels {
		list-style: none;
		padding: 0;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: baseline;
		margin: 0;
	}
	&__item {
		color: var(--text);
		&.now {
			color: var(--primary);
		}
	}
}
