@import "../variables";
@import "../components/toastAlert";
@import "../components/button";
@import "../components/input";

.login {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;

	.login-content {
		width: 30%;
		position: relative;
	}

	form {
		padding: 20px;
		background-color: #181c27;
		border-radius: 10px;
	}
}

.c-input:has(.error i) .c-input__entry {
	// background-color: #ff4a4a55;
	border: 1px solid #af1717;
	outline: 3px solid #ff676763;
	position: relative;
	margin: 0;
	.error {
		i {
			color: #ff4a4a;
		}
	}
	i:hover ~ .login-error {
		display: block;
		font-size: 13px;
	}
	.login-error {
		position: absolute;
		display: none;
		top: -100%;
		width: max-content;
		background-color: #c1262675;
		color: #ff4a4a;
		padding: 5px;
		border-radius: 6px;
		left: 50%;
	}
}
