@import "../variables";
@import "../components/produto-card";
@import "../components/navbar";
@import "../components/breadcrumb";
@import "../components/hero";
@import "../components/input";
@import "../components/button";
@import "../components/toastAlert";

.vendedor-actions {
	background-color: #f9f9f9;
	padding: 10px;
	&__list {
		padding: 0;
		list-style: none;
		margin: 0;
	}
	.cta-vendedor {
		text-decoration: none;
		color: var(--secondary);
		font-size: 14px;
		font-weight: 600;
		display: block;
		padding: 7px 5px;
		&:hover {
			background-color: var(--secondary);
			color: var(--text);
		}
	}
}

.vendedor-painel {
	padding: 30px 0px;
}


#modal-desativar-produto {
	background-color: #3636365c;
}