@import "../variables";
@import "../components/produto-card";
@import "../components/navbar";
@import "../components/categorias";
@import "../components/hero";
@import "../components/breadcrumb";
@import "../components/button";
@import "../components/toastAlert";

// .cta-float {
// 	position: absolute;
// 	top: -10px;
// 	left: -10px;

// 	background-color: var(--primary);
// 	color: var(--text);
// 	border: none;
// 	border-radius: 50%;
// 	padding: 7px 10px;
// }
.produto {
	&-image {
		height: 350px;
	}
}

.todos-produtos,
.section-category {
	padding: 30px 0px;
}
.section-category {
	background-color: #fff;
}

.section-category h4 {
	margin: 20px 0px;
}

.swiper-componente-gestao {
	height: 400px;
	padding: 0px 20px;
}

.swiper-componente-gestao .swiper-wrapper {
	margin: auto;
}
.swiper-componente-gestao .swiper-wrapper .swiper-slide {
}

.swiper-controller {
	position: absolute;
	height: 50px;
	top: 50%;
	width: 100%;
	left: 0;
	transform: translateY(-50%);
}

.swiper-button-prev:after,
.swiper-button-next:after {
	font-size: 20px;
}

.swiper-button-next,
.swiper-rtl .swiper-button-prev {
	right: -10px;
}

.swiper-button-prev,
.swiper-rtl .swiper-button-next {
	left: -10px;
}
