.c-btn {
	border: none;
	background-color: unset;
}

.c-btn__primary {
	background-color: var(--primary);
	width: max-content;
	padding: 5px 15px;
	border-radius: 6px;
	transition: all 0.3s ease-in-out;
	color: var(--text);
	font-size: 14px;
	&:hover {
		background-color: var(--primary-hover);
	}

	&.c-btn__primary--outline {
		background-color: unset;
		border: 1px solid var(--primary);
		color: var(--primary);
		padding: 5px 15px;
		&:hover {
			background-color: var(--primary);
			color: var(--text);
			font-size: 14px;
		}
	}
}

.c-btn__secondary {
	background-color: var(--secondary);
	color: var(--text);
	font-size: 14px;
	width: max-content;
	padding: 5px 15px;
	border-radius: 6px;
	transition: all 0.3s ease-in-out;
	text-decoration: none;
	&:hover {
		// box-shadow: 0px 1px 8px 0px #bab8b852;
		outline: 3px solid var(--secondary-50);
	}
	&.c-btn__secondary--outline {
		background-color: unset;
		border: 1px solid var(--secondary);
		color: var(--secondary);
		padding: 5px 15px;
		text-align: center;

		&:hover {
			background-color: var(--secondary);
			color: var(--text);
			font-size: 14px;
		}
	}
}

.c-btn__neutral {
	background-color: var(--black);
	color: var(--text);
	font-size: 14px;
	width: max-content;
	padding: 5px 15px;
	border-radius: 6px;
	transition: all 0.3s ease-in-out;
	&:hover {
		outline: 3px solid var(--black-20);
	}
}
