.c-input {
	margin: 0px 0px 15px 0px;
	display: block;
	&__entry {
		// background-color: var(--alternate-black);
		padding: 5px 15px;
		border: 1px solid var(--text-dark);
		border-radius: 6px;
		display: block;
		width: 100%;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		gap: 0px 10px;
		outline: 3px solid transparent;
		transition: all 0.3s ease-in-out;
		color: var(--text-black);
		&:focus-within {
			outline: 3px solid var(--primary-50);
			border: 1px solid var(--primary);
		}
	}
	input {
		border: none;
		background-color: transparent;
		outline: none;
		color: var(--text-black);
		width: 100%;
	}
	&__icon {
		color: var(--text-black);
		font-weight: 400;
	}
	&__label {
		margin-bottom: 7px;
		font-size: 15px;
	}
}

#produto-descricao-error {
	margin: 10px 0px 0px 0px;
}

// textarea {
// 	margin: 10px 0px;
// 	padding: 5px 15px;
// 	border: 1px solid var(--text-dark);
// 	border-radius: 6px;
// 	display: block;
// 	width: 100%;
// 	display: flex;
// 	flex-direction: row;
// 	align-items: center;
// 	justify-content: space-between;
// 	gap: 0px 10px;
// 	outline: 3px solid transparent;
// 	transition: all 0.3s ease-in-out;
// 	color: var(--text-black);
// 	resize: none;
// 	&:focus-within {
// 		outline: 3px solid var(--primary-50);
// 		border: 1px solid var(--primary);
// 	}
// }
