.header-nav {
	// position: fixed;
	// width: 100%;
	z-index: 999;
	border-bottom: 1px solid #ddd;
	box-shadow: 0px 2px 5px 1px #6666662b;
	background-color: var(--white);
}

.navbar {
	// height: 10vh;
	height: max-content;
	&__logo {
		font-size: 30px;
		color: var(--text);
		text-decoration: none;
		width: 20%;
	}

	&__content {
		// width: 70%;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
	}

	&__list {
		list-style: none;
		margin: 0;
		padding: 0;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		gap: 20px;
	}

	&__link {
		text-decoration: none;
		color: var(--text-dark);
		font-size: 20px;
		transition: all 0.3s;
		&:hover {
			color: var(--primary);
		}
	}

	&__controller {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		gap: 15px;

		i.fas.fa-shopping-cart::after {
			position: relative;
			content: attr(data-count-cart);
			// background: var(--secondary);
			color: var(--text-black);
			padding: 2px 8px;
			top: -10px;
			border-radius: 50px;
			line-height: 0px;
			left: -5px;
			font-family: "Jost";
			font-size: 10px;
		}
		p.count-pedidos {
			position: absolute;
			top: -10px;
			right: 5px;
			background: #fcb3c5;
			color: #fff;
			border-radius: 120px;
			font-size: 10px;
			height: 20px;
			width: 20px;
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}

	&__cart {
		text-decoration: none;
		color: var(--primary);
		position: relative;
		&:hover {
			color: var(--primary-50);
		}
		i {
			font-size: 17px;
		}
	}
	&__dropdown-button {
		// border-radius: 50%;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		gap: 5px;
		text-transform: capitalize;
		background-color: unset;
		transition: all 0.3s ease;
		color: var(--secondary);
		width: 45px;
		height: 45px;
		border: none;
		text-align: center;
		line-height: 0px;
		img {
			width: 25px;
		}
		i {
			color: var(--primary) !important;
		}
	}
	:has(.navbar__dropdown.active) .navbar__dropdown-button {
		color: var(--text);
		background-color: #8a89892b;
		border-radius: 50%;
	}

	&__dropdown {
		display: none;
		position: absolute;
		background-color: var(--white);
		border-radius: 6px;
		padding: 0px;
		list-style-type: none;
		top: 57px;
		right: 0;
		width: 250px;
		overflow: hidden;
		box-shadow: 0px 1px 2px 1px #95959557;
		z-index: 9999;
		&.active {
			display: block;
		}
		a {
			text-decoration: none;
			color: var(--text-black);
			display: block;
			padding: 10px 15px;
			transition: all 0.1s ease-in-out;
			&:hover {
				background-color: var(--secondary);
				color: var(--text);
			}
		}
	}
	&__box {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 40px;
	}
}
